---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-title {
  @include relative-font-size(4.00);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 8.00;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-footer {display: none;}

table summary {
    font-weight: bold;
}
